<div class="text-center winners-container clearfix" ng-if="winners">
  <div class="col-xs-12">
    <h2><b>Congratulations {{winners.country}}</b></h2>
    <h3>Winners of Euro 2016</h3>
    <div class="winners-flag-container">
      <img ng-src="{{winners.flag.full}}" alt="{{winners.country}} Flag" class="img-responsive"/>
    </div>
  </div>

  <div class="trophy">
    <img src="images/euro-2016-trophy.jpg" alt="Euro 2016 Trophy"  class="img-responsive"/>
  </div>
</div>

<div class="text-center winners-container clearfix" ng-if="!winners">
  <h1>Whoa there!!</h1>
  <h2>When you have completed the whole wallchart</h2>
  <h2>the tournament winners will be displayed here.</h2>
  <h4>In the meantime maybe you should go back to the <a href="#/home">HomePage</a></h4>
</div>
